urxvt.foreground: 	#E8DFD6
urxvt.background: 	#021B21
urxvt.cursorColor:  #2E3340
urxvt.color0:       #032C36
urxvt.color8:       #065F73
urxvt.color1:       #C2454E
urxvt.color9:       #EF5847
urxvt.color2:       #7CBF9E
urxvt.color10:      #A2D9B1
urxvt.color3:       #8A7A63
urxvt.color11:      #BEB090
urxvt.color4:       #2E3340
urxvt.color12:      #61778D
urxvt.color5:       #FF5879
urxvt.color13:      #FF99A1
urxvt.color6:       #44B5B1
urxvt.color14:      #9ED9D8
urxvt.color7:       #F2F1B9
urxvt.color15:      #F6F6C9


URxvt.font:			xft:Fira Code Retina:pixelsize=13:antialias=true:hinting=true
URxvt.boldFont:		xft:Fira Code Retina:bold:pixelsize=13:antialias=true:hinting=true
URxvt.scrollBar:	false
URxvt.saveLines:	65535

Xft*dpi:       96
Xft*antialias: True
Xft*hinting:   Full
URxvt.keysym.KP_Add:    +
URxvt.keysym.KP_Subtract: -
URxvt.keysym.KP_Multiply: *
URxvt.keysym.KP_Divide  : /
URxvt.keysym.KP_Decimal : .
URxvt.keysym.KP_Separator : ,
URxvt.keysym.KP_1:      1
URxvt.keysym.KP_2:      2
URxvt.keysym.KP_3:      3
URxvt.keysym.KP_4:      4
URxvt.keysym.KP_5:      5
URxvt.keysym.KP_6:      6
URxvt.keysym.KP_7:      7
URxvt.keysym.KP_8:      8
URxvt.keysym.KP_9:      9
URxvt.keysym.KP_0:      0



!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D


!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: google-chrome
URxvt.underlineURLs: true
URxvt.urlButton: 1

URxvt.transparent:   true
URxvt.shading:       20
Urxvt.blurRadius: 10
