[Desktop Entry]
Icon=video-x-matroska
Name=Tenet.2020.1080p.HDRip.DD5.1.X.264-EVO.mkv
Type=Link
URL[$e]=file:///WData/Videos/Tenet/Tenet.2020.1080p.HDRip.DD5.1.X.264-EVO.mkv
X-KDE-LastOpenedWith=org.kde.dragonplayer
